<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dbtest.dao.UserDao">
	<insert id="register">
		insert into dbtest(id, pwd) values(#{id},#{pwd});
	</insert>
	<select id="getListView" resultType="com.spring.dbtest.vo.UserVo">
		select * from dbtest order by idx desc;
	</select>
	
	<select id="getSearchView" resultType="com.spring.dbtest.vo.UserVo">
    <!-- select * from dbtest where id like concat('%1%'); -->
    select * from dbtest where id like concat('%',#{search},'%');
    </select>
  
  	<update id="userUpdate">
  		<!-- 조건을 안주고 업데이트하면 모든 자료가 업데이트됨. 조심하기 -->
  		update dbtest set pwd=#{pwd} where id=#{id};
  	</update>
  	
  	<delete id="userDelete">
  		delete from dbtest where id=#{id} and pwd=#{pwd};
  	</delete>
  	
  	<select id="getCountUserLists" resultType="int"> <!-- 페이징처리시필요.(전체개수) -->
  	<!--조건에 만족하는 데이터가 없으면 전체건수를 다가져옴  -->
      select count(idx) from dbtest
      <if test="cri.type==0">   <!-- 아이디로 검색 -->
        where id like concat('%', #{cri.search}, '%')
      </if>
      <if test="cri.type==1">	<!-- 비밀번호로 검색 -->
        where pwd like concat('%', #{cri.search}, '%')
      </if>
      <if test="cri.type==2"> <!-- 고유번호로 검색 -->
        where idx like concat('%', #{cri.search}, '%');
      </if>
      ;
    </select>
  
    <select id="getUserLists" resultType="com.spring.dbtest.vo.UserVo"> <!-- 페이징처리시필요. -->
      select * from dbtest
 	  <if test="cri.type==0">   <!-- 아이디 검색 -->
        where id like concat('%', #{cri.search}, '%')
      </if>
      <if test="cri.type==1">  <!--비밀번호로 검색  -->
        where pwd like concat('%', #{cri.search}, '%')
      </if>
      <if test="cri.type==2"> <!-- 고유번호로 검색 -->
        where idx like concat('%', #{cri.search}, '%')
      </if>
        order by idx desc limit #{cri.startPage},#{cri.perPagenum};
    </select>
</mapper>
