<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.myweb.dao.BoardDao">
	<select id="getBoards" resultType="com.spring.myweb.vo.BoardVo">
		select * 
			from board 
			where state = 'I'
			order by id desc
	</select>
	<insert id="setBoard">
		insert into board(title, content, writer)
		values(#{board.title},#{board.content},#{board.writer})
	</insert>
	<select id="getDetail" resultType="com.spring.myweb.vo.BoardVo">
		select * from board where id = #{id} and state = 'I'
	</select>
	<update id="updateDetail">
		update board 
		set title= #{board.title},
			content=#{board.content},
			state = #{board.state}
		where id = #{board.id}
	</update>
	
	<select id="getCountUserLists" resultType="int"> <!-- 페이징처리시필요.(전체개수) -->
      select count(id) from board
      <if test="cri.type==0">   <!--제목으로 검색 -->
        where title like concat('%', #{cri.search}, '%')
      </if>
      <if test="cri.type==1">	<!-- 내용으로 검색 -->
        where content like concat('%', #{cri.search}, '%')
      </if>
      <if test="cri.type==2"> <!-- 글쓴이로 검색 -->
        where writer = #{cri.search}
      </if>
      <if test="cri.type==3"> <!-- 글번호로 검색 -->
        where id = #{cri.search}
      </if>
      ;
    </select>
  
    <select id="getUserLists" resultType="com.spring.myweb.vo.BoardVo"> <!-- 페이징처리시필요. -->
      select * from board
      <if test="cri.type==0">   <!--제목으로 검색 -->
        where title like concat('%', #{cri.search}, '%')
      </if>
      <if test="cri.type==1">	<!-- 내용으로 검색 -->
        where content like concat('%', #{cri.search}, '%')
      </if>
      <if test="cri.type==2"> <!-- 글쓴이로 검색 -->
        where writer = #{cri.search}
      </if>
      <if test="cri.type==3"> <!-- 글번호로 검색 -->
        where id = #{cri.search}
      </if>
        order by id desc limit #{cri.startPage},#{cri.perPagenum};
    </select>
</mapper>